<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='generator' content='<%= Pluto.generator %>'>

  <title><%= site.title %></title>

  <%= stylesheet_link_tag 'news' %>

</head>
<body>
<h1><%= site.title %></h1>

<p>
  [icon] Switch to full view /
  [icon] Switch to compact view
  
  Updated
   <% if site.fetched %>
      <%= site.fetched.strftime('%A, %d. %B %Y %H:%M') %>
   <% end %>
  </p>


<div>
<%
   items = site.items.latest.limit(24)
   ItemCursor.new( items ).each do |item, new_date, new_feed|
%>

 <% if new_date %>
     
  <!--
<h3>
  <%= item.published.strftime('%A, %d. %B %Y') %>
</h3>
   -->
<% end %><!-- if new day? -->


<div class='section'>
<div class='header' style='width: 800px;'>
  <table width='100%'>
   <tr>
     <td>
        <div style='width: 50px'>{}</div>
     </td><!-- icon/logo -->
     <td style='white-space: nowrap;'>
       <span class='feed-title'>
         <%= link_to item.feed.title, item.feed.url %>
        (
         <a href=''>Feed</a>
        )
       </span>
     </td><!-- feed title -->
     <td width='100%'>  <!-- note: width is a suggestion; will get smaller to fill space-->
          <hr>
     </td><!-- filler -->
     <td style='white-space: nowrap;'>
       <span class='item-published'><%= item.published %></span>
     </td><!-- item published -->
   </tr>
  </table>
</div>

<div class='item'>

<table width='100%'>
  <tr>
    <td>
                <div style='width: 50px; max-width: 50px;'></div>  
    </td><!-- icon/logo; dummy for space -->
    <td width='100%'>
        <span class='item-title'>
          <%= link_to item.title, item.url %>
        </span>
    </td>
  </tr>
  <tr>
    <td>
                <div style='width: 50px; max-width: 50px;'></div>  
    </td><!-- icon/logo; dummy for space -->
    <td width='100%'>
          <!-- fix:
              use plain text  - no links etc. - no lists!!! just simple text
              no headlines etc. no bold no em etc.
              max. 400 or 500 ???
            -->
        <div class='item_content'>
         <%= item.summary %>
        </div>
        <div>
         <% if item.summary %>
            <%= textify( item.summary ) %>
          <% end %>
        </div>
        <p class='item-time-ago-in-words'>
          <%= time_ago_in_words( item.published ) %>
        </p>
    </td>
  </tr>
</table>

</div>  <!-- item -->


</div><!-- section -->


<% end %><!-- each item -->

</div>

</body>
</html>
